@model KosmoForumClient.Models.View.ForumPostDetailsVM



    <div class="p-4" style="border-radius: 20px;">
        <h1 class="align-items-center justify-content-center p-5 text-center">@Model.forumPost.Title</h1>
        <div class="row">
            <div class="container-fluid w-75" style="background-color: #EBE8E8;">
                <span class="font-weight-bold">Data utworzenia: @Model.forumPost.Date</span> <span class="font-weight-bold float-right">Kategoria: @Model.category.Title</span>
                <br />
                <br />
                <p class="text-justify font-weight-light">@Model.forumPost.Content</p>
                <div class="row">
                    @foreach (var item in Model.forumPost.Images)
                    {
                        var base64 = Convert.ToBase64String(item.Picture);
                        var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <div class="rounded mx-auto d-block p-5">
                            <img src="@imgSrc" style="width: 100%; height: 200px; width: 200px;" />
                        </div>
                    }
                </div>
            </div>
            <div class="w-25" style="background-color: #EBE8E8;">
                ID użytkownika: @Model.forumPost.UserId
            </div>
        </div>
        <br />
        <br />
        <br />
        
        @foreach(var item in Model.forumPost.Opinions)
        {
            <div class="row">
                <div class="container-fluid w-75" style="background-color: #EBE8E8;">
                    <span class="font-weight-bold">Data utworzenia: @item.CreationDateTime</span>
                    <span class="font-weight-bold float-right">
                        <a href="@Url.Action("Upsert","Opinions",new {forumPostId = Model.forumPost.Id, opinionId = item.Id})"
                           class='btn btn-success text-white' 
                           style='cursor: pointer;'> <i class='far fa-edit'></i></a>
                    </span>
                    <br />
                    <br />
                    <p class="text-justify font-weight-light">@item.Content</p>
                </div>
                <div class="w-25" style="background-color: #EBE8E8;">
                    ID użytkownika: @item.UserId
                </div>
            </div>
            <br />
            <br />
        }
        

        <div class="col-6 text-right">
            <a href="@Url.Action("Upsert","Opinions", new {forumPostId = Model.forumPost.Id})" class="btn btn-primary text-white"><i class="fas fa-plus"></i> &nbsp; Dodaj Komentarz</a>
        </div>
    </div>